body{
    margin: 0;
}
.debug{
    border:2px dashed rgb(17, 0, 255);
}
#topBar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 30px ;
}

#videoContainer{
    width: 100%;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

#videoAnim{
    width:auto;
    height: 500px;
}

#textAbout1{
    text-align: center;
    font-size: 40px;
}
#textAbout2{
    margin-top: 10px;
    text-align: center;
    font-size: 32px;

}
#mainTechContainer{
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

#subTechContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 20px;
}

#subTechContainer div{
    width: 50%;
    font-size: 24px;
    justify-items: center;
}

#tech_text{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

#tech_text span{
    margin-top: 5%;
}

.tech_row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .tech_column {
    margin: 2px;
    flex: 33%;
    max-width: 28%;
    padding: 0 4px;
    box-shadow: 0px 0px 4px #fece2f;
  }
  
  .tech_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

@media screen and (max-width: 425px) {
        #videoAnim{
            width:100%;
            height: auto;
        }
        
        #subTechContainer{
            flex-direction: column;
        }
        #subTechContainer div{
            width: 100%;
            font-size: 20px;
        }
        .tech_row{
            margin-top: 40px;
        }
}